<app-cardlist-ver-publicacion [publicacion]="listaPublicaciones"/>
<app-formulario-crear-publicacion (onCreate)="onCreatePublicacion($event)"/>

<!-- <ng-container *ngIf="mostrarFormulario; else mostrarLista">
    <app-formulario-crear-publicacion (onCreate)="onCreatePublicacion($event)"></app-formulario-crear-publicacion>
  </ng-container>
  
  <ng-template #mostrarLista>
    <app-cardlist-ver-publicacion [publicacion]="listaPublicaciones"></app-cardlist-ver-publicacion>
  </ng-template> -->
  
