<ion-list>
  <ion-item *ngFor="let publicacion of agenda">
    <ion-thumbnail slot="start">
      <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
        alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
    </ion-thumbnail>
    <ion-label>{{ publicacion.titulo }}</ion-label>
    <p>Date</p>
    <ion-button (click)="clickEliminar(publicacion)" size="small">
      <ion-icon name="trash-outline" slot="icon-only" md="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<ion-modal [isOpen]="isModalPriceOpen">
  <ng-template>
    <ion-header>
      <ion-title>Eliminar aviso</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="setModalPriceOpen(false)" >CERRAR</ion-button>
      </ion-buttons> 
    </ion-header>


  </ng-template>
</ion-modal>


<!-- 

<ion-button size="small" (click)="clickEliminar(publicaciones)">
  <ion-icon name="trash-outline" slot="icon-only" md="trash-outline"></ion-icon>
</ion-button> -->